{% extends "base.html" %}
{% block head -%}
  <title>Tag List</title>
{%- endblock head %}
{% block content -%}
<!-- Borrowed from PaperMod theme -->
        <div>
          <h1>{{ terms | length }} Tags</h1>
          <div class="flex-tag-container">
            {% for term in terms -%}
            <a href="{{ term.permalink }}" class="tag">
              {{ term.name }}
              {{ term.page_count }}
            </a>
            {%- endfor %}
          </div>
        </div>
{%- endblock %}